
.span{
  letter-spacing: var(--spacing);
  color: var(--clr-primary-7);
} 

.btn {
  height: auto;
  width: auto;
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-grey-9);
  padding: 1rem  1.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition); 
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow:var(--light-shadow);
  margin: 1px;
  font-weight: bold;
}

.btn:hover {
  color: var(--clr-grey-9);
  background: var(--clr-primary-2);
  box-shadow: var(--dark-shadow);
}

.btn_2{
  background: var(--clr-primary-5);
  color: var(--clr-grey-9);
}

.btn_2:hover {
  color: var(--clr-grey-9);
  background: var(--clr-primary-4);
  box-shadow: var(--dark-shadow);
}


.span{
  color: var(--clr-primary-7);
}

.dropdown1 {
  display: none;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  width: max-content;
  height: max-content;
  padding: 2rem 4rem 0 0 ;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-title {
  font-weight: bold;
}

.dropdown-icon {
  font-size: 20px;
}

.dropdown-content {
  border-top: 1px solid #ccc;
  padding: 10px;
  background: var(--clr-primary-9);
  box-shadow: var(--light-shadow);
}

.dropdown-content li {
  padding: 5px 20px;
  cursor: pointer;
}

.li{
  color: var(--clr-black);
  box-shadow: var(--dark-shadow);
}

.li:hover {
  color:  var(--clr-gold);
  box-shadow: var(--dark-shadow);
} 

.grid{
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
}

.flex{
  padding: 0;
}

.text{
  margin-bottom: 0;
}

.menu-icon::before {
  content: "  "; 
}

.close-icon::before {
  content: " "; 
}

img {
  width: 100%;
  display: block;
}

.image_slider{
  display: block;
  height: 100vh;
  width: 50vw;
  background-color: var(--clr-primary-7);
}

.slider_image{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-color: var(--clr-primary-7);
}

.breadcrum{
  text-align: center;
  margin: 13rem 0 8rem 0;
}

.p{
  font-size: large;
  margin: 3rem 0 ;
}

.abt{
  font-size: large;
  margin: 3rem 0 ;
}

.about{
  font-size: xx-large;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.firsthalf{
  display: grid;
  grid-template-columns: auto auto;
  font-size: larger;
  font-weight: bolder;
}

.firsthalf_content{
  background-color: #f0eeee;
  padding: 3rem 5rem;
  margin: 15px;
  text-align: center;
}

.br{
  display: flex;
}

.h5{ 
  margin-bottom: 2rem;
}

.margin{
  margin: 18rem 0 10rem 0;
}

.home_section_media{
  display: inline;
}

.home_section{
  display: grid;
  width: 50vw;
  padding: 2.5rem 0 0 4rem;
}

.footer{
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}